<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>sfTranslate/title>
</head>
<body>
    <div id="header">
        <span id="header-logo-title">sfTranslator</span>
    </div>
    <div class="container">
        <div id="container-infos">
            <h1 class="container-infos-title">Translation</h1>
            <span class="container-infos-description">Enter a text in any language:</span>
        </div>
        <div id="translate-form">
            <form method="POST">
                <div class="form-group">
                    <textarea name="text" cols="20" rows="10" class='form-text-area'></textarea>
                </div>
                <div class="form-group">
                    <label for="language" class="form-translate-in">Translate in:</label>
                    <select name="language" class="form-selection">
                        {% for option in options %}
                            <option value="{{ options[option] }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn-start-translation">Translate</button>
            </form>
        </div>
    </div>
</body>
</html>